@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    @foreach (var user in Model.Users)
    {
        <div>
            <table>
                <thead>
                    <tr>
                        <th>@user.FirstName  @user.LastName</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var post in Model.Posts)
                    {
                        @if(post.UserId == user.Id)
                        {
                        <tr>
                            <td>@post.Content</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
</div>
